body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}
nav {
  padding: 1em 0;
  background: #eee;
}
nav input[type="number"] {
  margin-right: 1em;
  padding: .3em;
  width:2.5em;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: .3em;
}
nav select {
  margin-right: 1em;
  padding: .3em;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: .3em;
}
nav button {
  padding: .3em 2em;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #d70;
  border-radius: .3em;
  background:#f92;
  color: #fff;
}
nav button:hover {
  background:#e81;
}
article {
  padding: 1em 0;
}
footer {
  padding: 1em 0;
}
table {
  margin: auto;
}
td {
  padding: .5em;
  border: 1px solid #ccc;
}
.min {
  color: #0f0;
  background: #efe;
  font-weight: bold;
  border: 1px solid #0f0;
}
.max {
  color: #f00;
  background: #fee;
  font-weight: bold;
  border: 1px solid #f00;
}